.admin-layout {
  height: 100%;
}
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  // background: #fff;
}

.ant-layout-sider-zero-width-trigger {
  top: auto;
  bottom: 64px;
}

.ant-col {
  background-color: #fff;
}
// .ant-menu-submenu,
// .ant-menu-item {
//   &.ant-menu-submenu-title {
//     padding-left: 24px;
//   }
// }
